h1{
    color: rgb(131, 99, 52);
    text-align: center;
    font-family: cursive;
    font-size: xx-large;
    font-style: italic;
    font-weight: 1000;
    background-color: black;

}
p{
    color:black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation-name: inherit;
    font-size: larger;
    background-color: antiquewhite;
}
body{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a5/Tsunami_by_hokusai_19th_century.jpg) ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2px;
    align-self: auto;
    resize: none;
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
table{
    margin:auto;
}


#image1{
    width: 300px;
    height: 400px;
    border-radius: 10%;


}
#image2{
    width: 300px;
    height: 400px;
    border-radius: 10%;


}
#image3{
    width: 300px;
    height: 400px;
    border-radius: 10%;


}
#image4{
    width: 300px;
    height: 400px;
    border-radius: 10%;


}
#image1:hover{
        box-shadow: 10px 10px 10px black;
        transform: scale(1.1);
        transition: 0.5s;
        
       
}


#image2:hover{
    box-shadow: 10px 10px 10px black;
    transform: scale(1.1);
    transition: 0.5s;
   
}
#image3:hover{
    box-shadow: 10px 10px 10px black;
    transform: scale(1.1);
    transition: 0.5s;
   
}
#image4:hover{
    box-shadow: 10px 10px 10px black;
    transform: scale(1.1);
    transition: 0.5s;
   
}
#imagetext1 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #imagetext2 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #imagetext3 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #imagetext4 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .name{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45;
    background-color: antiquewhite;
  }
  h2{
    align: center;
    background-color: bisque;
    text-align: center;
    font-size: 60;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  #emo{
    background-color: bisque;
  }
 
  .topnav {
    background-color: black;
    overflow: hidden;
  }
  

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  footer{
    text-align: center;
    font-size: x-large;
    background-color: blanchedalmond;
  }